
a{
    text-decoration: none;
}
div{
    display: block;
}
*{
    margin: auto 0;
    padding: 0;
}
.top-new{
    width: 100%;
    background: url(https://www.swun.edu.cn/images/top_03.jpg);
    height: 201px;
    z-index: 100;
    position: relative;
    min-width: 1000px;
}

.top-zw{
    margin-left: 118px;

    color: #006da4;
    line-height:28px;
    height: 33px;
    width: 338px;
    float: left;
    padding-left: 30px;
}
.top-1{
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    height: 33px;
    z-index: 2;
    position: absolute;
    top: 0;
}
.top-link{
    float: right;
    width: 320px;
}
.it1{
    display: inline;color:#666;font-size:14px;line-height: 33px;margin-right:12px;float: left;
}
.id-1{
    margin-left: 5px;
    margin-right: 5px;
}
.id-2{
    margin-left: 3px;
    margin-right: 3px;
    color: #006DA4
}
.id-2:hover{
    background-color: #66ccff;
}
.id-1:hover{
    background-color: #66ccff;
    font-size: 20px;
}
.log{
    position: absolute;
    left: 50%;
    margin-left: -514px;
    top: 0;
}
.menu{
    width: 1000px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    top: 159px;
}
.item {
    background: url(https://www.swun.edu.cn/images/mn_06.jpg);
    text-align: center;
    height: 44px;
    line-height: 44px;
    position: relative;
    background-repeat-x: no-repeat;
    float: left;
}
.item:hover{
    background-color: #66ccff;
}
.menu .item a{
    color: #000;
    display: inline-block;
    width: 80px;
    position: relative;
    font-size: 14px;
}
.one{
     height: 44px;
 }
ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.center-container{
    position: relative;
    float: left;
    width: 100%;
    min-width: 1000px;
}.a{
    outline: none;
 }

.caption{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    padding-right: 20px;
    text-shadow: none;
    color: #fff;
    background-image: url(https://www.swun.edu.cn/images/vbb.png);
    left: 0;
    right: 0;
    bottom: 0;
    height: 42px;
    line-height: 42px;
    margin: 0;
    max-width: none;
    text-align: left;
}.id-3{
    color: #ffffff;
 }
 .blouse{
     clear: both;
     height: 0px;
     overflow: hidden;
     *display: inline;
     _display: inline;
     line-height: 0;
 }
 .new1{
     float: left;
     width: 285px;
 }
 .new2{
     float: left;
     width: 285px;
     margin: 0 18px;
 }
 .new3{
     width: 285px;
     float: left;
 }
 dl,dt,dd,p{
     margin: 0;
     padding:0;
 }
 .id-4{
     width: 1000px;
 }
dl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.id-4 .new1 .new2 dl dd p{
    background: url(https://www.swun.edu.cn/images/line2.png) repeat-x left bottom;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}
.id-4 .new1 dt dl{
    border-bottom: 1px solid #bfbfbf;
    height: 30px;
    line-height: 30px;
    padding-bottom: 7px;
}
.id-4 .new3 .dl_1 dd .li_1 p{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    height: 29px;
    width: 44px;
    text-align: center;
}
.id-4 .new3 .dl_1 dd .li_1 .a{
    display: block;
    height: 17px;
    line-height: 17px;
    color: #666;
    font-size: 12px;
}


ul{
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.adjust{
    text-align: left;
}
span:hover{
    background-color: #66ccff;
}
.new1 dd p,.new2 dd p {
     background: url(https://www.swun.edu.cn/images/line2.png) repeat-x left bottom;
     height: 40px;
     line-height: 40px;
     font-size: 15px;
 }
.p1{
    background: url(https://www.swun.edu.cn/images/ico12.jpg) no-repeat left center;
    padding-left: 15px;
    color: #787878;
    font-size: 12px;
}
.p2{
    background: url(https://www.swun.edu.cn/images/ico12.jpg) no-repeat left center;
    padding-left: 15px;
    color: #787878;
    font-size: 12px;
}
 dt{
     background: url(https://www.swun.edu.cn/images/line2.png) repeat-x left bottom;
 }
 span{
     display: inline-block;
     width: 75px;
     text-align: center;
     height: 33px;

}
.title {
    background: url("https://www.swun.edu.cn/images/ico14.png");
    height: 33px;
    line-height: 25px;
    color: #fff;
}
 .id-7{
     width: 100%;
     height: 192px;
     background: url(https://www.swun.edu.cn/css/img.jpg) no-repeat left;
     min-width: 1032px;
 }
 .clear{
     clear: both;
     height: 0px;
     overflow: hidden;
     line-height: 0;
 }
 .id-4 .new3 .dl_1 dd ul li{
     height: 70px;

 }
.li_1{
    background: url(https://www.swun.edu.cn/images/date.gif) no-repeat;
}


.box_h{
    width: 1000px;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.picture-1{
    width: 235px;
    float: left;
    height: 65px;
    padding-right: 15px;
}
.picture-2{
    width: 235px;
    float: left;
    height: 65px;
    padding-right: 15px;
}
.picture-3{
    width: 235px;
    float: left;
    height: 65px;
    padding-right: 15px;
}
.picture-4{
    width: 235px;
    float: left;
    height: 65px;
    padding-right: 15px;
}
.bot{
    font-size: 16px;
    margin-bottom: 6px;
    margin-left: 320px;
    background-color: #0897d9;
}
.box_r{
    width: 100%;
    float: left;
    height: 20px;
    color: #fff;
    padding: 12px 0;
    background: url(https://www.swun.edu.cn/css/bg_02.gif) no-repeat left;
}
.link{
    height: 25px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: normal;
}
.id-8{
    height: 26px;
    width: 772px;
    float: left;
    margin-bottom: 10px;
}
.id-9{
    width: 114px;
    float: left;
    background: url(https://www.swun.edu.cn/images/aaa2-1_14.gif) 103px 8px no-repeat;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}
.id-8 a{
    color: #ffffff;
}
.id-9 a{
    color: #ffffff;
}
.footer{
    background-color: #0E5fb0;
    color: #fff;
    padding :16px;
    height: 82px;
    min-width: 1000px;
}
.bottom{
    width: 1000px;
    height: 62px;
    margin: 0 auto;
}
.center_f{
    float: left;
    margin-left: 50px;
    font-size: 12px;
}
.f_c{
    float: left;
    margin-left: 12px;
}
.bottom_icon{
    display: inline-block;
    padding-left: 5px;
}
#id-10{
    float: left;
    margin-left: 12px;
    line-height: 95px;
}

.id-8 :hover{
    background-color: #66ccff;
}
.id-9 :hover{
    background-color: #66ccff;
}
